*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

html,body{
        width: 100%;
        height: 100%; 
}

main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 90%;
    background-color: pink;
}

nav{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    height: 10%;
    background-color: palevioletred;
}

.nav-left img{
    width: 30%;
    height: 10%;
    object-fit: cover;
}

.nav-center input{
    padding: 10px;
    font-size: 20px;
    border: none;
    border-radius: 20px;
    transition: 0.4;
}

input:active{
    scale: 1.2;
    background-color: aqua;
    color: chartreuse;
}

/* .nav-right a{
    gap: 20px;
    font-size: 30px;
    text-decoration: none;
} */

button{
    font-size: 20px;
    padding: 10px;
    background-color: mediumvioletred;
    border: none;
    border-radius: 10px;
    transition: transform 1.2;
}

button:hover{
    transform: scale(1.3);
    background-color: rgb(244, 0, 94);
    color: rgba(0, 0, 255, 0.385);
}

.box{
    width: 250px;
    height: 250px;
    background-color: gray;
    border-radius: 20px;
    transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.box:hover{
    transform: rotate(360deg);
    background-color: brown;
}

main:hover{
    background-color: darkslategrey;
}